package main

// Build and Debug Config
// https://github.com/Ablaze-MIRAI/ConsoleTranslate/tree/main#-%E9%96%8B%E7%99%BA

const (
	app_name = "ConsoleTranslate"
	version  = "2.0.2"
	repo     = "https://github.com/Ablaze-MIRAI/ConsoleTranslate"
	command  = "translate"
	dev      = false
)
